*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0 0 33);
    color: white;
}
nav{
    background-color: rgb(4, 4, 13);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font: 3rem;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 20px;
    margin: 10px;
    list-style: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}
nav ul li a {
    text-decoration: none;
color: white;
}
nav ul li a:hover{
   color: rgb(152, 152, 238);
   font-size: 1.01rem;
}
.left{
    font-size: 2rem;
    color: rgb(199, 98, 25);
    transition-duration: 2s;

}
.left:hover{
    display: block;
    color: pink;
    transform: scale(1.1);


}
.firstsection {
    
    display: flex;
    justify-content: space-around;
    margin: 130px;
    
}
.firstsection>div{
    width: 30%;
}
.leftsection {

border: 2px solid white;
border: transparent;
border-radius: 50%;
height: 30vh;
height: 30vh;
background-position: cover;
font-family: Georgia, Times, 'Times New Roman';
text-align: center;
font-size: 2.3rem;
text-wrap: 50px;
margin: 30px 0px;



}

.rightsection {
    
    margin-top: 20px;
    

}
.rightsection img{
    width: 80%;
    height: 90%;
    
    border-radius: 50%;
    border: none;
    background-image: cover;
}
.purple{
    color: blueviolet;
}
.name{
    text-align: center;
    text-align: left;
}
#element{
    color: rgb(128, 128, 231);
}
.secondsection{
    max-width: 80vh;
margin: auto;
margin-left: 100px;

}
.secondsection h1{
    font-size: 1.7;
    font-weight: 100;
}
.text-gray{
    color: gray;
}
.secondsection  .box{
    background-color: white;
    width: 80vw;
    height: 1px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;



}
.image-top{
    position: relative;
    width: 33px;
    top: -32px;
left: -9px;
}
.secondsection .box  .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
    

}
main hr{
    border: 0;
    height: 1.2px;
    background-color: #9c97f1;
    margin: 40px 84px;
}
footer{
    background-color: #1a1a2a;
    height: 150px;
    margin-top:300px ;

}
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    
}
.footer ul{
    margin-top: 20px;
    list-style: none;
}
.footer-first{
    width: 150px;
    margin-top: 20px;
}
.text-centre{
    text-align: center;
    margin-top: 20px;
}
.vertical-disc{
    position: relative;
    top: 20px;
}
.leftsection .buttons .btn{
    padding: 12px;
    background-color: rgb(23, 15, 50);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 10px;
    position: relative;
    top: 20px;
}